<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des articles</title>
</head>
<body>
<h2>Liste des articles</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Auteur</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.id}"></td>
        <td th:text="${article.title}"></td>
        <td th:text="${article.content}"></td>
        <td th:text="${article.author.getFirstName() + ' ' + article.author.getLastName()}"></td>

    </tr>
    </tbody>
</table>

<h2>Liste des auteurs</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
    </tr>
    </tbody>
</table>
<p>Ajouter un auteur <a
        href="/addAuthor">here</a></p>

<p>Ajouter un article <a
        href="/addArticle">here</a></p>

</body>
</html>
